

<!DOCTYPE html>
<head>
    <title>Login</title>
    <link rel="shortcut icon" href="cagando.png">
    <style>
        h2 {
            text-align: center;
            color: #fff;
        }
        form { 
            margin: 0 auto;
            padding: 15px;
            width:250px;
            background-color: #d25400;
        }
        
        form input {
            margin: 3px;
            text-align:center;
        }
        
        label {
            color: #fff;
        }
    </style>
</head>
<body>
    <form>
            <h2> Login:</h2>
            <label for="nome">Usuario</label>
            <input type="text" placeholder="Usuario" name="usuario" id="usuario">
            <br>
            <label for="senha">Senha</label>
            <input type="password" placeholder="Senha" name="password" id="password">
            <br>
            <label for="email">E-mail</label>
            <input type="email" placeholder="e-mail" name="email" id="email">
            <br>
            <input type="submit" value="login" id="login" name="login">  
    </form>
</body>